body{
  margin:0;
  background:#111;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

.models{
  width:90%;
  margin:auto;
}

.title{
  font-size:40px;
  margin:40px 0;
}

.car-card{
  position:relative;
  margin-bottom:50px;
}

.car-card img{
  width:100%;
  border-radius:5px;
}

.car-info{
  position:absolute;
  bottom:30px;
  left:30px;
}

.car-info h2{
  font-size:28px;
}

.type{
  color:#bbb;
}

button{
  margin-top:10px;
  padding:10px 20px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
  border:1px solid white;
}